.navbar {
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 40px;
  padding-block: 14px;
  height: 10%;
}
.logo-text {
  color: green;
  font-family: 'Outfit';
}
.navbar-cart-container {
  display: flex;
  align-items: center;
}
.navbar-cart-container > span {
  font-size: 18px;
  color: grey;
  font-family: 'Nunito';
  margin-right: 14px;
}
.navbar-cart-container > button {
  border-width: 0px;
  outline: none;
  cursor: pointer;
  text-align: center;
  background-color: transparent;
  position: relative;
}
.navbar-cart-container > button > div {
  position: absolute;
  top: -20%;
  right: -20%;
  border-radius: 100%;
  /* border: 2px tomato solid; */
  background-color: tomato;
  height: 14px;
  width: 14px;
  /* padding: 4px; */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.navbar-cart-container > button > div > span {
  font-size: 8px;
  font-family: 'Nunito';
  color: white;
  font-weight: 600;
}
