@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 40px;
  padding-block: 14px;
}
.logo-text {
  color: green;
  font-family: 'Outfit';
}
.navbar-cart-container {
  display: flex;
  align-items: center;
}
.navbar-cart-container > span {
  font-size: 18px;
  color: grey;
  font-family: 'Nunito';
  margin-right: 14px;
}
.navbar-cart-container > button {
  border-width: 0px;
  outline: none;
  cursor: pointer;
  text-align: center;
  background-color: transparent;
  position: relative;
}
.navbar-cart-container > button > div {
  position: absolute;
  top: -20%;
  right: -20%;
  border-radius: 100%;
  /* border: 2px tomato solid; */
  background-color: tomato;
  height: 14px;
  width: 14px;
  /* padding: 4px; */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.navbar-cart-container > button > div > span {
  font-size: 8px;
  font-family: 'Nunito';
  color: white;
  font-weight: 600;
}

.content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.content-tabs-ul {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  overflow-x: auto;
  padding-inline: 24px;
  padding-block: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
.content-foods-ul {
  flex: 1;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
